#main{
  overflow: hidden;
}
.how-work{
  text-align: center;
  margin-top: 50px;
  padding: 0 60px;
  color: #fff;
}
.how-work h3{
  font-weight: normal;
  font-size: 25px;
  margin-bottom: 45px;
}
.how-work__main-block{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.how-work__item{
  margin-bottom: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 115px;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}
@media (min-width: 1060px){
  .how-work__item{
    flex: 0 0 15%;
    max-width: 150px;
    min-width: 115px;
  }
  .vector-down{
    background-image: url("../../../uploads/promo/Vector_down.png");
    bottom: 22px;
    left: 60px;
    width: 69px;
    height: 19px;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .vector-up{
    background-image: url("../../../uploads/promo/Vector-up.png");
    top: 0;
    left: 60px;
    width: 69px;
    height: 19px;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.item_image-wrapper{
  position: relative;
}

.how-work__counter{
  margin-bottom: 20px;
}
.how-work__image{
  max-height: 50px;
  margin-bottom: 29px;
  max-height: 50px;
}
.how-work__text{
  margin-top: auto;
  margin-bottom: auto;
  font-size: 15px;
  line-height: 1.5;
  position: relative;
}
.how-work__item .after{
  position: absolute;
  top: -10px;
  right: 0;
  padding: 10px 4px 4px 3px;
  border-radius: 50%;
  background: #9C3939;
  font-size: 1em;
  cursor: pointer;
  line-height: 0;
  z-index: 2;
}
.how-work__more-info{
  opacity: 0;
  position: absolute;
  bottom: 100%;
  transform: translateY(-15px);
  right: 0;
  background: #2a2a2a;
  padding: 10px;
  width: 200px;
  text-align: left;
  border: 1px solid #c4c4c4;
  z-index: -1;
  transition: all .2s ease;
}
.how-work__item .after:hover + .how-work__more-info{
  opacity: 1;
  z-index: 2;
}
.payment__btn-header{
  margin: 0 10px;
  text-transform: uppercase;
  width: auto;
  font-family: Open Sans;
}

.contacts-form-block{
  background: #2F2F2F;
  color: #fff;
  padding: 29px 18px 25px;
  margin: 10px -18px;
}
.contacts-form-title{
  text-transform: uppercase;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 18px;
}
.contacts-form-wrap{
  display: flex;
  flex-wrap: wrap;
}
.contacts-input-wrap{
  width: 100%;
}
@media (min-width: 930px) {
  .contacts-input-wrap{
    margin-right: 21px;
    width: 40%;
  }
}
.contacts-form-wrap label, .contacts-form-wrap input, .contacts-form-wrap textarea{
  display: block;
  width: 100%;
}
.contacts-form-wrap label{
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  margin-left: 3px;
  margin-bottom: 4px;
}
.contacts-input-wrap input{
  height: 43px;
  margin-bottom: 10px;
  border: 1px solid #8B8B8B;
  background: #2F2F2F;
  color: #fff;
  padding: 10px;
  font-size: 16px;
}
.contacts-ta-wrap textarea{
  width: 100%;
  height: 192px;
  border: 1px solid #8B8B8B;
  background: #2F2F2F;
  color: #fff;
  resize: none;
  padding: 10px;
}
.contacts-ta-wrap{
  flex-grow: 1;
}
.contacts-form-btn{
  width: 100%;
  max-width: 227px;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
}
.contacts-check-wrapper{
  display: inline-block;
  margin-left: 22px;
  margin-top: 20px;
}
@media (min-width: 930px) {
  .contacts-check-wrapper{
    margin-top: 0;
    margin-left: 72px;
  }
}
.contacts-form-check{
  max-width: 200px;
  display: flex;
  align-items: center;
  font-size: 11px;
  line-height: 15px;
}
.contacts-form-check input{
  margin-right: 10px;
  transform:scale(1.5);
  opacity:0.9;
  cursor:pointer;
}

.news-list{
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1120px){
  .news-list{
    justify-content: center;
  }
}
.news-list .block{
  max-width: 224px;
  margin: 0 15px 30px 15px;
  display: flex;
  flex-direction: column;
}
.news-list__image{
  margin-bottom: 18px;
  width: 100%;
  max-width: 224px;
}
.news-list .block p{
  margin-bottom: 10px;
}
.news-list .news-page__btn{
  color: #fff !important;
  text-align: center;
  font-size: 14px;
  line-height: 19px;
  padding: 6px;
  width: 121px;
  margin-top: auto;
}
.promo-fill-block{
  position: relative;
  height: 50px;
}
.promo-fill-block::before{
  content: '';
  width: 50%;
  height: 50px;
  /* background-color: #000000; */
  display: block;
  /* margin-top: 1.6875rem; */
  border-top: 1px solid #000000;
  border-right: 1.9px solid #000000;
  transform: skewX(49deg);
  position: absolute;
  left: -28px;
  bottom: 0;
}
.promo-fill-block::after{
  content: '';
  width: 50%;
  height: 50px;
  /* background-color: #000000; */
  display: block;
  /* margin-top: 1.6875rem; */
  border-top: 1px solid #000000;
  border-left: 1.9px solid #000000;
  transform: skewX(-49deg);
  position: absolute;
  right: -28px;
  bottom: 0;
}
.news-full__link{
  position: relative;
  text-align: center;
  display: block;
}
.news-full__link::before{
  content: "";
  position: absolute;
  top: 39px;
  left: 50%;
  margin-left: -28px;
  border: 28px solid transparent;
  border-top: 26px solid #B53636;
}
.news-full__link::after{
  content: "";
  position: absolute;
  top: 45px;
  left: 50%;
  margin-left: -5px;
  background-image: url("../../../uploads/promo/fill-up.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 10px;
  height: 7px;
}
#work-order .promo-full::after{
  content: none !important;
}

.work-order-tabs{
  color: #fff;
  margin: 30px 0;
  padding: 0 20px;
}
@media (min-width: 970px){
  .work-order-tabs{
    color: #fff;
    margin: 40px 0;
    padding: 0 60px;
  }
}
.work-order-tabs .tabs__caption{
  display: flex;
}
.work-order-tabs .tabs__btn{
  width: 20%;
  text-align: center;
  background-color: #242424;
  border-bottom: .5px solid #141414;
  padding: 16px;
}
@media (max-width: 600px){
  .work-order-tabs .tabs__btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .work-order-tabs .tabs__caption{
    display: flex;
    flex-wrap: wrap;
  }
}
.work-order-tabs .tabs__btn:not(:last-child){
  border-right: .5px solid #141414;
}
.work-order-tabs .tabs__btn:hover, .tabs__caption .active{
  background: linear-gradient(0deg, #9C3939, #9C3939), #242424;
}
@media (min-width: 601px){
  .work-order-tabs .tabs__btn-image{
    margin-bottom: 10px;
  }
}
.work-order-tabs .tabs__btn-image{
  margin-right: 10px;
}
.work-order-tabs .tabs__btn-text{
  font-size: 15px;
  line-height: 110%;
}
@media (max-width: 970px){
  .work-order-tabs .tabs__btn-text{
    font-size: 10px;
  }
}
.work-order-tabs .tabs__content{
  background-color: #B5B5B5;
  color: #000000;
  padding: 15px;
}
@media (min-width: 970px){
  .work-order-tabs .tabs__content{
    padding: 32px 30px;
  }
}
.work-order-tabs .tabs_work-wrapper{
  display: flex;
  counter-reset: section;
  /* flex-wrap: wrap; */
}
@media (max-width: 970px){
  .work-order-tabs .tabs_work-wrapper{
    flex-wrap: wrap;
  }
}
.work-order-tabs .tabs-item{
  font-size: 13px;
  line-height: 177.04%;
  padding-top: 77px;
  position: relative;
}
.work-order-tabs .tabs-item::before{
  counter-increment: section;
  content: counter(section) ;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 33px;
  line-height: 45px;
}
.work-order-tabs .tabs-item::after{
  content: "";
  width: 29px;
  height: 0;
  border-top: 2px solid #9C3939;
  position: absolute;
  top: 55px;
  left: 0;
}
.work-order-tabs .tabs-item:not(:last-child){
  margin-right: 29px;
}
.design-form{
  max-width: 932px;
  margin: 30px auto;
  position: relative;
  margin-bottom: 50px;
}
.design-form::after{
  content: '';
  display: block;
  width: 100%;
  height: 23px;
  position: absolute;
  bottom: -23px;
  left: 0;
  background: url(../images/decor-2.png) center -23px;
}
.form-input-wrapper{
  flex-grow: 1;
  margin: 10px;
}
.design-form .form-input-wrapper input{
  width: 100%;
}

.header__phone{
  display: block;
  text-align: right;
  margin-right: 53px;
  font-size: 15px;
  line-height: 110%;
  color: #973737;
  margin-bottom: 5px;
}
@media (max-width: 440px){
  .header__phone{
    display: none;
  }
}

#work-order h1{
  text-align: center;
  font-size: 33px;
  line-height: 45px;
  color: #fff;
  margin-bottom: 20px;
}
#work-order h2{
  text-align: center;
  font-size: 25px;
  line-height: 34px;
  color: #fff;
}
@media (min-width: 568px){
  .design-form .flex-47{
    justify-content: space-between;
    align-items: unset;
  }
  .design-form .flex-47 input{
    margin-left: 20px;
  }
  .design-form .chs7{
    margin-top: -10px;
  }
  #work-order .flex-47 .btn2{
    margin-right: 77px;
  }
}
@media screen and (max-width: 690px){
  #work-order .news-full__link, #work-order .promo-fill-block{
    display: none;
  }
}
.owl-stage-outer{
  border: none;
  overflow: visible !important;
  position: relative;
}
@media screen and (max-width: 969px){
  .owl-stage-outer::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 100%;
    background-color: #141414;
    z-index: 2;
  }
  .owl-stage-outer::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #141414;
    z-index: 2;
  }
}
.owl-nav span{
  display: none;
}
.owl-nav button:focus{
  outline: none;
}
.owl-prev, .owl-next{
  background-size: cover;
  background-repeat: no-repeat;
  width: 34px;
  height: 49px;
  position: absolute;
  top: 30%;
}
.owl-prev{
  background-image: url("/uploads/arrow-left.png")  !important;
  left: -45px;
}
.owl-next{
  background-image: url("/uploads/arrow-right.png")  !important;
  right: -45px;
}

.contacts-input-wrap .errorx{
  margin-top: -5px;
  margin-bottom: 5px;
}
/* body nav#top li ul li {
  overflow: visible !important;
  z-index: 0; 
} */
body nav#top li:hover {
  z-index: 10000;
}
@media (max-width: 767px){
  nav#top ul{
    padding-top: 35px;
    padding-left: 5px;
    padding-right: 1px;
    width: unset !important;
  }
  nav#top{
    display: block !important ;
    height: 100vh;
  }
  .desk-menu{
    display: none;
  }
  .header__submenu{
    opacity: 1 !important;
    display: none;
    position:  relative !important;
    box-shadow: none !important;
  }
  .header__submenu a{
    padding-bottom: 10px !important;
  }
  /* .header__submenu > li{
    overflow: hidden; 
  }
  .header__submenu::before{
    content: none !important; 
    left: unset !important;
    box-shadow: none !important;
    z-index: -1 !important;
  } */
  .mob-menu-toggler{
    padding: 0 5px;
    height: 28px;
    width: 29px;
    position: absolute;
    top: 5px;
    right: 1px;
    background-color: #A54E4E;
    color: #fff;
    z-index: 2;
    cursor: pointer;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* position: relative; */
  }
  .mob-menu-toggler::after{
    content: ">";
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
  }
  .mob-menu .active::after{
    transform: rotate(90deg);
  }
  .acc-body{
    display: none;
  }
}
@media (min-width: 768px){
  .mob-menu{
    display: none;
  }
  .header__submenu{
    position: absolute;
    left: 100% !important;
    top: 0 !important;
    z-index: -1 !important;
    padding-left: 10px; 
  }
  .header__submenu::before{
    /* content: none !important;  */
    left: unset !important;
    box-shadow: none !important;
    /* z-index: -1 !important; */
  }
}

