.how-work{
  text-align: center;
  margin-top: 50px;
  padding: 0 60px;
  color: #fff;
}
.how-work h3{
  font-weight: normal;
  font-size: 25px;
  margin-bottom: 45px;
}
.how-work__main-block{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.how-work__item{
  flex: 1;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 150px;
  min-width: 115px;
}
.item_image-wrapper{
  position: relative;
}
.vector-down{
  background-image: url("../../../uploads/promo/Vector_down.png");
  bottom: 20px;
  left: 60px;
  width: 69px;
  height: 18px;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
}
.vector-up{
  background-image: url("../../../uploads/promo/Vector-up.png");
  top: 0;
  left: 60px;
  width: 69px;
  height: 18px;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
}
.how-work__counter{
  margin-bottom: 20px;
}
.how-work__image{
  max-height: 50px;
  margin-bottom: 29px;
  max-height: 50px;
}
.how-work__text{
  margin-top: auto;
  margin-bottom: auto;
  font-size: 15px;
  line-height: 1.5;
}
.how-work__item .after{
  position: absolute;
  bottom: 45px;
  right: 0;
  padding: 10px 4px 4px 3px;
  border-radius: 50%;
  background: #9C3939;
  font-size: 1em;
  cursor: pointer;
  line-height: 0;
}
.how-work__more-info{
  opacity: 0;
  position: absolute;
  bottom: 60px;
  right: 0;
  background: #2a2a2a;
  padding: 10px;
  width: 200px;
  text-align: left;
  border: 1px solid #c4c4c4;
  z-index: -1;
  transition: all .2s ease;
}
.how-work__item .after:hover + .how-work__more-info{
  opacity: 1;
  z-index: 2;
}
.payment__btn-header{
  margin: 0 10px;
  text-transform: uppercase;
  width: auto;
}